<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Posts</title>
   <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
        <h1>Quora Posts</h1>

        <% for(posts of post){ %>
           <div class="post">
              <h3 class="user">@<%= posts.username %></h3>
              <h4 class="content"><%= posts.content %></h4>
              
              <div class="post-actions">
                  <button>
                    <a href="http://localhost:8080/posts/<%=posts.id%>">View Details</a>
                  </button>
                  <button>
                    <a href="http://localhost:8080/posts/<%=posts.id%>/edit">Edit Post</a>
                  </button>
                  <form method="POST" action="/posts/<%= posts.id %>?_method=DELETE">
                      <button type="submit">Delete Post</button>
                  </form>
              </div>
           </div>
         <% } %>
         
         <button class="create-post-btn">
            <a href="http://localhost:8080/posts/new">Create New Post</a>
         </button>
    </div>
</body>
</html>

